<section id="content">
    <!--start container-->
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <!-- <h5 class="breadcrumbs-title">Jornada Tarde</h5> -->
        <ol class="breadcrumbs">
            <li>Empresas</li>
            <li>Editar Empresa</li>
            <li class="active">Cantidad de Zonas</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
        <div class="row">
          <form class="col s12 formValidate" novalidate id="formValidate">
              <div class="nav-wrapper">     
                <h4 class="header2">Zonas</h4> 

                <div class="input-field col s12 m4">
                  <i class="mdi-action-account-circle prefix"></i>
                  <input ng-model="zonas.cantidad" name="zonaCantidad" id="zonaCantidad" type="text" class="validate">
                  <label for="zonaCantidad">Cantidad de Zonas</label>
                </div>
                <div class="divider" style="width: 100%;margin-bottom: 10px;"></div>

                <button ng-click="siguiente()" class="btn cyan waves-effect waves-light right" type="submit" name="action">Siguiente
                  <i class="mdi-image-navigate-next right"></i>
                </button>
                <button ng-click="anterior()" class="btn cyan waves-effect waves-light left" type="submit" name="action">Anterior
                  <i class="mdi-image-navigate-before left"></i>
                </button>
              </div>
          </form>
        </div>
    </div>
    <div id="modalinfo" ng-include="getTemplateModal()" class="modal">
              
    </div>
</div>
<!--end container-->

</section>
<!-- END CONTENT -->