<div ng-class="{'loaded': loaded == true}" class="sinTransform">
    <div id="loader-wrapper">
        <div id="loader2"><img style="width: 100%; height: 100%" src="images/cargar.gif"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> 
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="">
                <div class="nav-wrapper">
                    <ul class="left">                      
                        <li>
                            <h1 class="logo-wrapper">
                                <a href="index.html" class="brand-logo darken-1">
                                    <img src="images/logodex.png" alt="materialize logo">
                                </a> 
                                <span class="logo-text">Dexcon</span>
                            </h1>
                        </li>
                    </ul>
                    <!-- <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
                    </div> -->
                    <ul class="right hide-on-med-and-down">
                        <!-- <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i></a></li> -->
                        <li><a ng-click="clickSalir()" class="waves-effect waves-block waves-light"><i class="mdi-hardware-keyboard-tab"></i></a>
                        </li>                    
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details blue lighten-1">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <!-- <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li> -->
                                    <!-- <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a> -->
                                    <!-- </li> -->
                                    <li><a ng-click="clickSalir()" class="collapsible-header waves-effect waves-blue"><i class="mdi-hardware-keyboard-tab"></i>Salir</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{username}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">{{role}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a ng-click="clickInicio()" class="collapsible-header waves-effect waves-blue"><i class="mdi-action-dashboard"></i>Inicio</a>
                            </li>
                            <li class="bold" ng-if="role == 'Usuario'">
                                <a ng-click="clickMapaValor()" class="collapsible-header waves-effect waves-blue"><i class="mdi-action-dashboard"></i>Mapa del Valor</a>
                            </li>
                            <li class="bold" ng-if="role == 'Usuario'">
                                <a class="collapsible-header  waves-effect waves-blue"><i class="mdi-social-people"></i>Administrar los Riesgos</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a class="waves-effect waves-blue" ng-click="ClienteRiesgosProcesos()">Procesos</a>
                                        </li>                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="bold" ng-if="role == 'Usuario'">
                                <a ng-click="clickPlaneacionCliente()" class="collapsible-header waves-effect waves-blue"><i class="mdi-action-dashboard"></i>Planeacion Estrategica</a>
                            </li>

                            <li class="bold" ng-if="role == 'Consultor' || role == 'Administrador'">>
                                <a ng-click="clickEmpresas()" class="collapsible-header waves-effect waves-blue"><i class="mdi-action-dashboard"></i> Empresas</a>
                            </li>
                            <li class="bold" ng-if="role == 'Consultor' || role == 'Administrador'">>
                                <a ng-click="clickTrabajadores()" class="collapsible-header waves-effect waves-blue"><i class="mdi-action-dashboard"></i> Equipo Designado</a>
                            </li>
                            <li class="bold" ng-if="role == 'Consultor' || role == 'Administrador'">>
                                <a class="collapsible-header  waves-effect waves-blue"><i class="mdi-social-people"></i>Nuevo</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-repeat="norma in normas" ng-if="norma.Alias != 'gtcresumen'" ><a class="waves-effect waves-blue" ng-click="clickNorma(norma)"> {{norma.Nombre}}</a>
                                        </li>                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="bold" ng-if="role == 'Consultor' || role == 'Administrador'">>
                                <a ng-click="clickPeligros()" class="collapsible-header waves-effect waves-blue"><i class="mdi-action-dashboard"></i> Peligros</a>
                            </li>
                            <li class="bold" ng-if="role == 'Consultor' || role == 'Administrador'">>
                                <a class="collapsible-header  waves-effect waves-blue"><i class="mdi-social-people"></i>Proyectos</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li ng-repeat="norma in normas" ><a class="waves-effect waves-blue" ng-click="clickListaProyectos(norma)"> {{norma.Nombre}}</a>
                                        </li>                                        
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <div ui-view></div>
            <!-- <ion-nav-view name="menuContent" class="slide-left-right"></ion-nav-view> -->
            <!-- START RIGHT SIDEBAR NAV-->
            <!-- LEFT RIGHT SIDEBAR NAV-->
            <div id="modal1" ng-include="getTemplateModal()" class="modal">
                
            </div>
        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->
</div>
<!-- <div prueba></div> -->

<!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2017 <a class="grey-text text-lighten-4" href="www.dexcondigital.com" target="_blank">Dexcon</a> All rights reserved.
                <!-- <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">Dexcon</a></span> -->
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
