<section id="content">
	<div id="breadcrumbs-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12">
					<ol class="breadcrumbs">
						<li class="active">Inicio</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="section">
			<div class="row">
				<div id="table-datatables" class="col m10 l8">
					<h4 class="header">Bienvenido</h4>
				</div> 
			</div> 
		</div>
		<div id="card-stats">
			<div class="row">
				
			</div>
		</div>
	</div>
</section>
  <!-- END CONTENT -->